<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row justify-content-center">
    <h1 class="display-4">Streamer</h1>
  </div>
  <div class="row justify-content-center">
      <input type="text" class="col-6 form-control" placeholder="Search for songs" name="search" id="src"
      [(ngModel)]="searchTerm" >
      <button class="btn btn-sm float-right ml-3" (click)="newSong()" data-toggle="tooltip" data-placement="bottom" title="Add a new song">
        <img src="../assets/images/add.png" alt="" class="button-image">
      </button>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="list-group mt-4">
        <a class="list-group-item list-group-item-action p-0" *ngFor="let song of songs" (click)="currentSong = song">
          <div class="card">
            <div class="row no-gutter">
              <div class="col-2">
                <!-- <img [src]="song.image | imgLoader | async" alt="" class="card-img"> -->
              </div>
              <div class="col">
                <div class="card-body p-0">
                  <h5 class="card-title">{{song.title}}</h5>
                  <p class="card-text">{{song.artist}}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6">
      <app-player *ngIf="currentSong" [song]="currentSong"></app-player>
    </div>
  </div>
</div>

<router-outlet></router-outlet>